AZURE_SEARCH_ENDPOINT=https://example.search.windows.net
AZURE_SEARCH_API_KEY=""
AZURE_SEARCH_CODE_INDEX=code-index-v1
AZURE_SEARCH_DOC_INDEX=docs-index-v1

AZURE_OPENAI_ENDPOINT=https://example-ai-foundry.cognitiveservices.azure.com/
AZURE_OPENAI_KEY=""
#AZURE_OPENAI_API_VERSION=2024-02-15-preview
AZURE_OPENAI_API_VERSION=2024-12-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME=text-embedding-3-large

# Comma-separated list of repository names
CPP_REPOS=cpp1,cpp2
PYTHON_REPOS=py1,py2
JAVA_REPOS=java1,java2
SQL_REPOS=sql1,sql2
OPENGROK_BASE_URL_TEMPLATE=https://opengrok.cicd.rnd.amadeus.net/xref/example-project/

# Each repository name should have a corresponding path variable
cpp1=/Users/kumarn/workspace/cpp1/src
sql2=/Users/kumarn/workspace/sql2/src

# Environment variable to force full run (ignore last run metadata)
FORCE_FULL_RUN=true

CONFLUENCE_URL=https://example.atlassian.net/wiki
CONFLUENCE_USERNAME=atlassiancloudbot+180@exampleworkplace.onmicrosoft.com
CONFLUENCE_API_TOKEN=""

# Path to compiled Tree-sitter multi-language shared library
LANG_LIB=/absolute/path/to/my-languages.so